@font-face {
  font-family: 'Bungee Spice';
  src: url('/BungeeSpice-Regular.ttf');
}
:root {
  font-family: 'Bungee Spice';
  font-size: 28px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.point{
  background-color: red;
}

.pointSelector{
  font-size: 11px;
}


.board h1 {
  color: #eee;
  margin-bottom: 16px;
  text-shadow: #eee 0 5px 6px;
}

.board button {
  padding: 25px 25px;
  margin: 25px;
  border: 2px solid #eee;
  background-color: #eee;
  font-size: 20px;
  width: fit-content;
  border-radius: 10px;
  transition: 0.2s;
  font-family: 'Bungee Spice', sans-serif;
  cursor: pointer;
}


.board button:hover {
  background: #c1b8aa;
 
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.logo{
margin-bottom: 60px;
}
.turn {
  display: flex;
  justify-content: center;
  margin: 35px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.turn .square,
.winner .square {
  width: 80px;
  height: 80px;
  padding: auto;
  border-color: transparent;
}

.square.is-selected {
  color: #fff;
  background: rgb(215, 115, 27);
  border: 2px solid #eee;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 50%;
  width: 40%;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 25px;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 50px;
}
@media screen and (max-width: 400px) {
  .winner .text{
    background: #111;
    height: 55%;
    width: 60%;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 25px;
  }

}